<div class="app-hero-header d-flex align-items-center">
    <div class="d-flex align-items-center" style="min-width: 150px;">
        <div class="me-3 icon-box md bg-white rounded-4">
            <i class="bi bi-cloud-arrow-up fs-3 text-primary"></i>
        </div>
        <div>
            <h2 class="mb-1">Upload</h2>
            <h6 class="m-0 text-dark fw-light">
                Upload
            </h6>
        </div>
    </div>
    <div class="col-lg-7 col-sm-6 col-12">
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
    </div>
    <div class="ms-auto d-lg-flex d-none flex-row">
        <div class="d-flex flex-row gap-2">
        </div>
    </div>
</div>
<div class="app-body">
    <div class="row gx-4">
        <div class="col-lg-4 col-sm-12 col-12">            
            <div class="card mb-4 card-light">
                <div class="card-header">
                    <h5 class="card-title">Upload Doanh thu tháng</h5>
                </div>
                <div class="card-body">
                    <div class="row gx-4">
                        <div class="col-lg-12 col-sm-12 col-12">
                            <label class="form-label">Bước 01:</label> <a class="link-primary" target="_blank"
                                href="{{excelDoanhThuURL}}" title="Tải về">Tải về</a> file excel mẫu
                        </div>
                        <div class="col-lg-6 col-sm-12 col-12">
                            <label class="form-label">Bước 02:</label> Chọn file
                        </div>
                        <div class="col-lg-6 col-sm-12 col-12">
                            <input class="form-control" type="file" #uploadDoanhThu
                                (change)="changeDoanhThu($event.target.files)">
                        </div>
                        <div class="col-lg-6 col-sm-12 col-12">
                            <label class="form-label">Bước 03:</label> Chọn năm
                        </div>
                        <div class="col-lg-6 col-sm-12 col-12">
                            <select class="form-select" name="year" [(ngModel)]="year">
                                <option *ngFor="let item of DownloadService.listYear;" [value]="item.Display">
                                    {{item.Display}}</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-12">
                            <label class="form-label">Bước 04:</label> Chọn tháng
                        </div>
                        <div class="col-lg-6 col-sm-12 col-12">
                            <select class="form-select" name="month" [(ngModel)]="month">
                                <option *ngFor="let item of DownloadService.listMonth;" [value]="item.Display">
                                    {{item.Display}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <button [disabled]="!isDoanhThu" class="btn btn-info"
                            (click)="onSubmitDoanhThu()">Upload</button>
                    </div>
                </div>
            </div>
            <div class="card mb-4 card-light">
                <div class="card-header">
                    <h5 class="card-title">Upload Doanh nghiệp</h5>
                </div>
                <div class="card-body">
                    <div class="row gx-4">
                        <div class="col-lg-12 col-sm-12 col-12">
                            <label class="form-label">Bước 01:</label> <a class="link-primary" target="_blank"
                                href="{{excelDoanhNghiepURL}}" title="Tải về">Tải về</a> file excel mẫu
                        </div>
                        <div class="col-lg-6 col-sm-12 col-12">
                            <label class="form-label">Bước 02:</label> Chọn file
                        </div>
                        <div class="col-lg-6 col-sm-12 col-12">
                            <input class="form-control" type="file" #uploadDoanhNghiep
                                (change)="changeDoanhNghiep($event.target.files)">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <button [disabled]="!isDoanhNghiep" class="btn btn-info" (click)="onSubmit()">Upload</button>
                    </div>
                </div>
            </div>
            <div class="card mb-4 card-light">
                <div class="card-header">
                    <h5 class="card-title">Upload Gói cước</h5>
                </div>
                <div class="card-body">
                    <div class="row gx-4">
                        <div class="col-lg-12 col-sm-12 col-12">
                            <label class="form-label">Bước 01:</label> <a class="link-primary" target="_blank"
                                href="{{excelGoiCuocURL}}" title="Tải về">Tải về</a> file excel mẫu
                        </div>
                        <div class="col-lg-6 col-sm-12 col-12">
                            <label class="form-label">Bước 02:</label> Chọn file
                        </div>
                        <div class="col-lg-6 col-sm-12 col-12">
                            <input class="form-control" type="file" #uploadGoiCuoc
                                (change)="changeGoiCuoc($event.target.files)">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <button [disabled]="!isGoiCuoc" class="btn btn-info" (click)="onSubmitGoiCuoc()">Upload</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12 col-12">
            <div class="card mb-4 card-info">
                <div class="card-header">
                    <h5 class="card-title text-white">Doanh nghiệp</h5>
                </div>
                <div class="card-body">
                    <div class="table-outer">
                        <div class="table-responsive">
                            <table class="table table-striped m-0">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Mã số</th>
                                        <th>Doanh nghiệp</th>
                                        <th>Điện thoại</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let element of DoanhNghiepService.list; index as i">
                                        <td>{{i + 1}}</td>
                                        <td>{{element.Code}}</td>
                                        <td>{{element.Name}}</td>
                                        <td>{{element.DienThoai}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="isShowLoading"></app-loading>