<nav id="sidebar" class="sidebar-wrapper">
      <div class="app-brand p-3 mb-3">
            <a href="#">
                  <img src="/assets/image/logo.png" class="logo" alt="VNPT Bà Rịa Vũng Tàu"
                        title="VNPT Bà Rịa Vũng Tàu" />&nbsp;&nbsp;&nbsp;VNPT</a>
      </div>
      <div class="sidebarMenuScroll">
            <ul class="sidebar-menu">
                  <li>
                        <a href="/#/DoanhNghiep" title="Doanh nghiệp">
                              <i class="bi bi-globe"></i>
                              <span class="menu-text">Doanh nghiệp</span>
                        </a>
                  </li>                 
            </ul>
      </div>
</nav>
<div class="app-container">
      <router-outlet></router-outlet>
</div>
<br />
<br />
<br />