<div class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark 2-columns mat-typography"
      data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-column">
      <header class="page-topbar" id="header">
            <div class="navbar navbar-fixed">
                  <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-light">
                        <div class="nav-wrapper">
                              <div class="header-search-wrapper hide-on-med-and-down">
                                    <input disabled class="header-search-input z-depth-2" type="text" name="Search"
                                          placeholder="VNPT Bà Rịa - Vũng Tàu | Trung tâm kinh doanh">
                              </div>
                              <ul class="navbar-list right">
                                    <li><a class="waves-effect waves-block waves-light profile-button"
                                                href="javascript:void(0);" data-target="profile-dropdown"><span
                                                      class="avatar-status avatar-online"><img
                                                            src="https://crm.vnptvungtau.vn/image/logo.png"
                                                            alt="avatar"><i></i></span></a></li>
                                    <li><a class="waves-effect waves-block waves-light sidenav-trigger" href="#"
                                                data-target="slide-out-right"><i
                                                      class="material-icons">format_indent_increase</i></a></li>
                              </ul>
                              <ul class="dropdown-content" id="translation-dropdown">
                              </ul>
                              <ul class="dropdown-content" id="notifications-dropdown">
                              </ul>
                              <ul class="dropdown-content" id="profile-dropdown">
                              </ul>
                        </div>
                        <nav class="display-none search-sm">
                              <div class="nav-wrapper">
                              </div>
                        </nav>
                  </nav>
            </div>
      </header>
      <aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-dark sidenav-active-rounded">
            <div class="brand-sidebar">
                  <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="#" style="color:#009f3c;"><span
                                    class="logo-text hide-on-med-and-down" style="color:#009f3c;">CRM</span></a><a
                              class="navbar-toggler" href="#"><i class="material-icons">radio_button_checked</i></a>
                  </h1>
            </div>
            <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow"
                  id="slide-out" data-menu="menu-navigation" data-collapsible="accordion">     
                  <li class="bold"><a target="_blank" class="waves-effect waves-cyan " href="{{domainName}}Homepage"><i
                        class="material-icons">business</i><span class="menu-title" data-i18n="">Dashboard</span></a>
                  </li> 
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}DoanhNghiep"><i
                        class="material-icons">account_balance</i><span class="menu-title" data-i18n="">Doanh nghiệp</span></a>
                  </li> 
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}NhanVien"><i
                        class="material-icons">face</i><span class="menu-title" data-i18n="">Nhân viên</span></a>
                  </li> 
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}PhongBan"><i
                        class="material-icons">face</i><span class="menu-title" data-i18n="">Phòng ban</span></a>
                  </li> 
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}DichVu"><i
                        class="material-icons">brightness_low</i><span class="menu-title" data-i18n="">Gói cước</span></a>
                  </li> 
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}LoaiDichVu"><i
                        class="material-icons">brightness_low</i><span class="menu-title" data-i18n="">Loại gói cước</span></a>
                  </li> 
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}LoaiDoanhNghiep"><i
                        class="material-icons">brightness_low</i><span class="menu-title" data-i18n="">Loại doanh nghiệp</span></a>
                  </li> 
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}LoaiDoanhNghiepThanhVien"><i
                        class="material-icons">brightness_low</i><span class="menu-title" data-i18n="">Thành viên doanh nghiệp</span></a>
                  </li>  
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}NganhNgheKinhDoanh"><i
                        class="material-icons">brightness_low</i><span class="menu-title" data-i18n="">Ngành nghề kinh doanh</span></a>
                  </li>  
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}LoaiTrangThai"><i
                        class="material-icons">brightness_low</i><span class="menu-title" data-i18n="">Loại trạng thái</span></a>
                  </li>  
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}Xa"><i
                        class="material-icons">brightness_low</i><span class="menu-title" data-i18n="">Xã</span></a>
                  </li>    
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}Huyen"><i
                        class="material-icons">brightness_low</i><span class="menu-title" data-i18n="">Huyện</span></a>
                  </li>           
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}Tinh"><i
                                    class="material-icons">brightness_low</i><span class="menu-title" data-i18n="">Tỉnh</span></a>
                  </li>
                  <li class="bold"><a class="waves-effect waves-cyan " href="{{domainName}}Upload"><i
                        class="material-icons">cloud_upload</i><span class="menu-title" data-i18n="">Upload</span></a>
                  </li>
            </ul>
            <div class="navigation-background"></div><a
                  class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only"
                  href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
      </aside>
      <div id="main">
            <router-outlet></router-outlet>
      </div>
</div>