<div class="app-hero-header d-flex align-items-center">
    <div class="d-flex align-items-center" style="min-width: 300px;">
        <div class="me-3 icon-box md bg-white rounded-4">
            <i class="bi bi-bank2 fs-3 text-primary"></i>
        </div>
        <div>
            <h2 class="mb-1">Doanh nghiệp</h2>
            <h6 class="m-0 text-dark fw-light">
                Doanh nghiệp
            </h6>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6 col-12">

    </div>
    <div class="col-lg-2 col-sm-6 col-12">
        <select class="form-select" name="huyenID" [(ngModel)]="huyenID" (change)="onChangeHuyenID()">
            <option [value]="0">
                Tất cả</option>
            <option *ngFor="let item of HuyenService.list;" [value]="item.ID">
                {{item.Name}}</option>
        </select>
    </div>
    <div class="col-lg-2 col-sm-6 col-12">
        <select class="form-select" name="xaID" [(ngModel)]="xaID">
            <option [value]="0">
                Tất cả</option>
            <option *ngFor="let item of XaService.list;" [value]="item.ID">
                {{item.Name}}</option>
        </select>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Tìm ..." [(ngModel)]="searchString"
                (keyup.enter)="onSearch()">
            <a class="btn btn-success" title="Tìm..." (click)="onSearch()">
                <i class="bi bi-search"></i>
            </a>
        </div>
    </div>
    <div class="ms-auto d-lg-flex d-none flex-row">
        <div class="d-flex flex-row gap-2">
            <a class="btn btn-success" title="In biểu mẫu">
                <i class="bi bi-printer"></i>
            </a>
            <a class="btn btn-success" title="Download excel">
                <i class="bi bi-cloud-download"></i>
            </a>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="row gx-4">
        <div class="col-xxl-12">
            <div class="card mb-4 card-info">
                <div class="card-header">
                    <h5 class="card-title text-white">Danh sách
                        <span *ngIf="DoanhNghiepService.list">({{DoanhNghiepService.list.length}}
                            items)</span>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="table-outer">
                        <div class="table-responsive">
                            <table class="table table-striped m-0">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Mã số thuế</th>
                                        <th>Doanh nghiệp</th>
                                        <th>Điện thoại</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let element of DoanhNghiepService.listView; index as i">
                                        <td>{{i + 1}}</td>
                                        <td>
                                            {{element.Code}}
                                        </td>
                                        <td>
                                            <a class="link-primary" target="_blank" title="{{element.Name}}"
                                                href="{{URLSub}}/{{element.ID}}"><b>{{element.Name}}</b></a>
                                        </td>
                                        <td>
                                            {{element.DienThoai}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="isShowLoading"></app-loading>


<!-- <div class="row">
    <div id="breadcrumbs-wrapper" data-image="https://crm.vnptvungtau.vn/app-assets/images/gallery/breadcrumb-bg.jpg"
        style="color: #ffffff; background: rgb(40,70,99); background: linear-gradient(90deg, rgba(40,70,99,1) 0%, rgba(62,110,159,1) 35%, rgba(106,179,245,1) 100%);">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h5 class="breadcrumbs-title mt-0 mb-0" style="color: #ffffff;">Doanh nghiệp <span
                            *ngIf="DoanhNghiepService.list">({{DoanhNghiepService.list.length}} items)</span>
                    </h5>
                </div>
                <div class="col s12 m6 l6 right-align-md">
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a href="#" style="color: #ffffff;">CRM</a>
                        </li>
                        <li class="breadcrumb-item active" style="color: #ffffff;">Doanh nghiệp
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="container">
            <div class="section section-data-tables">
                <div class="card">
                    <div id="1">
                        <div class="card-content">
                            <div class="col s12 m12 l3">
                                <mat-select
                                    style="padding-top:14px; padding-bottom:10px; border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid;"
                                    name="HuyenID" class="browser-default" [(ngModel)]="huyenID" (selectionChange)="onChangeHuyenID()">
                                    <mat-option [value]="0">
                                        Tất cả
                                    </mat-option>
                                    <mat-option *ngFor="let item of HuyenService.list" [value]="item.ID">
                                        {{item.Name}}
                                    </mat-option>
                                </mat-select>
                            </div>
                            <div class="col s12 m12 l3">
                                <mat-select
                                    style="padding-top:14px; padding-bottom:10px; border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid;"
                                    name="XaID" class="browser-default" [(ngModel)]="xaID">
                                    <mat-option [value]="0">
                                        Tất cả
                                    </mat-option>
                                    <mat-option *ngFor="let item of XaService.list" [value]="item.ID">
                                        {{item.Name}}
                                    </mat-option>
                                </mat-select>
                            </div>
                            <div class="col s12 m12 l3">
                                <input matInput [(ngModel)]="searchString" placeholder="Tìm ..."
                                    class="mat-input-element mat-form-field-autofill-control" autocomplete="off"
                                    (keyup.enter)="onSearch()">
                            </div>
                            <div class="col s12 m12 l3">
                                <a title="Tìm" (click)="onSearch()"
                                    class="btn-floating waves-effect waves-light green darken-1"><i
                                        class="material-icons">search</i></a>&nbsp;&nbsp;&nbsp;                               
                            </div>                       
                            <div class="KhungOverflow">
                                <mat-table [dataSource]="dataSource" matSort>
                                    <ng-container matColumnDef="Code">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Mã số thuế
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.Code}}</mat-cell>
                                    </ng-container>                  
                                    <ng-container matColumnDef="Name">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Doanh nghiệp
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element"><a title="{{element.Name}}" target="_blank"
                                            href="{{URLSub}}/{{element.ID}}"><b>{{element.Name}}</b></a></mat-cell>
                                    </ng-container>               
                                    <ng-container matColumnDef="DienThoai">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Điện thoại
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.DienThoai}}</mat-cell>
                                    </ng-container>                               
                                    <ng-container matColumnDef="loading">
                                        <mat-footer-cell *matFooterCellDef colspan="4">
                                            Đang tải dữ liệu...
                                        </mat-footer-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="4">
                                            Chưa có dữ liệu.
                                        </mat-footer-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="DoanhNghiepService.displayColumnsSub"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: DoanhNghiepService.displayColumnsSub;"></mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']"
                                        [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']"
                                        [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
                                    </mat-footer-row>
                                </mat-table>
                                <mat-paginator [pageSizeOptions]="[10,20,50,100]" [pageSize]="10"
                                    [showFirstLastButtons]></mat-paginator>                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="isShowLoading"></app-loading> -->