<div class="d-flex align-items-center"
    style="border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid; padding: 5px;">
    <div class="me-3 icon-box md bg-white rounded-4">
        <i class="bi bi-search fs-3 text-primary" (click)="SetIsShowSearch()"></i>
    </div>
    <div>
        <h2 class="mb-1" style="font-size: 16px;"><b>Doanh nghiệp</b></h2>
    </div>
</div>
<div class="app-body">
    <div class="row gx-4" *ngIf="IsShowSearch">
        <div class="col-lg-12 col-sm-12 col-12">
            <input [(ngModel)]="DoanhNghiepService.BaseParameter.SearchString" placeholder="Tìm ..."
                class="form-control">
        </div>
        <div class="col-lg-12 col-sm-12 col-12">
            <a style="width: 100%;" class="btn btn-success" title="Tìm" (click)="DoanhNghiepSearch()"><i
                    class="bi bi-search"></i></a>
        </div>
    </div>
    <br />
    <div class="card mb-4 card-info">
        <div class="card-header">
            <h5 class="card-title text-white">
                Danh sách
                <span *ngIf="DoanhNghiepService.List">({{DoanhNghiepService.List.length}}
                    items)</span>
            </h5>
        </div>
        <div class="card-body">
            <div class="table-outer">
                <div class="table-responsive">
                    <table mat-table matSort #DoanhNghiepSort="matSort" [dataSource]="DoanhNghiepService.DataSource"
                        class="table table-striped m-0">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Thông tin chi tiết
                            </th>
                            <td mat-cell *matCellDef="let element; index as i">
                                <div class="row gx-4">
                                    <div class="col-lg-12 col-sm-12 col-12">
                                        <a class="form-label" style="cursor: pointer; white-space: normal;" title="{{element.Name}}"
                                            class="link-primary"
                                            (click)="DoanhNghiepAdd(element.ID)"><b>[{{element.ID}}] {{element.Name}}</b></a>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-12">
                                        <label>Mã số thuế: </label>
                                        <label class="form-label">{{element.Code}}</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-12">
                                        <label>Điện thoại: </label>
                                        <label class="form-label">{{element.DienThoai}}</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-12">
                                        <label>Email: </label>
                                        <label class="form-label">{{element.Email}}</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-12">
                                        <label>Địa chỉ: </label>
                                        <br/>
                                        <label class="form-label" style="white-space: normal;">{{element.DiaChi}}</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-12">
                                        <div *ngFor="let item of HuyenService.List;">
                                            <div *ngIf="element.HuyenID==item.ID">
                                                <label>Quận Huyện: </label>
                                                <label class="form-label">{{item.Name}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-12">
                                        <div *ngFor="let item of XaService.List;">
                                            <div *ngIf="element.XaID==item.ID">
                                                <label>Xã Phường: </label>
                                                <label class="form-label">{{item.Name}}</label>
                                            </div>
                                        </div>                                       
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-12">
                                        <div *ngFor="let item of NhanVienService.List;">
                                            <div *ngIf="element.NhanVienID==item.ID">
                                                <label>AM quản lý: </label>
                                                <label class="form-label">{{item.Name}}</label>
                                            </div>
                                        </div>                                       
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="DoanhNghiepService.DisplayColumnsMobile"></tr>
                        <tr mat-row *matRowDef="let row; columns: DoanhNghiepService.DisplayColumnsMobile"></tr>
                    </table>
                    <!-- <mat-paginator #DoanhNghiepPaginator="matPaginator"
                        [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="100000"
                        [showFirstLastButtons]></mat-paginator> -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="DoanhNghiepService.IsShowLoading"></app-loading>